<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TravelAI</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./public/css/styles.css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <img src=".\public\images\favicon-32x32.png" alt=""><p style="padding-left:10px;" class="navbar-brand">TravelAI</p>
      </div>
        <ul class="navbar-nav navbar-right">
          <li id="home" class="nav-item active"><a href="/" class="nav-link">HOME  |</a></li>
          <li id="contact" class="nav-item"><a href="/result" class="nav-link">TRAVEL PLAN  |</a></li>
          <li id="about" class="nav-item"><a href="/poi" class="nav-link">POINT OF INTEREST  |</a></li>
          <li id="contact" class="nav-item"><a href="/aboutus" class="nav-link">ABOUT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
