<%- include("partials/header"); -%>
<h2>About TravelAI</h2>
<br>
<p>What is Resfeber?</p>
<p>Definition: Resfeber (pronounced: RACE-fay-ber); Swedish; noun. : The restless race of the traveler's heart before the journey begins. </p>
<br>
<p>Travel is a 2.9 trillion U.S. dollar industry. Aggregator sites scrape the web to present flight deals for a single searched date, and hotel deals for a given date range. Traditional travel agencies offer hassle-free multi-destination travel
  packages at a premium. However, there is no product that meets the needs of a free and easy, multi-destination traveller who would like to find an itinerary with the lowest overall flight and hotel cost. For this traveller to manually look up all
  possible combinations of flights and hotels to find the lowest price would be infeasible. An exhaustive search for a trip with n different destinations, and d number of days would amount to (n! × d) searches.
</p>
<p>This project presents a TravelAI, a hassle-free end-to-end solution to this problem. TravelAI is a conversational agent that helps users book travel journeys optimised for their cost and time priorities. It automates the collection of flight and
  hotel information, solves for the optimal combination that balances cost and time spent at each destination, and books the optimized package with the relevant travel agencies. In addition, it will analyse the user’s profile and destinations and
  provide a curated list of top places of interest tailored to their interests.</p>

<p>In this project, we propose and implement an effective solution through a user-friendly conversational-agent, TravelAI, to address the complexity of getting an optimal multi-destination travel package. Optimal here is defined as the cheapest set
  of flight and hotel that provides roughly equal number of days at each destination. As an added bonus, TravelAI also provides a list of recommended Place of Interest, specially curated for the user profile by drawing intelligence from an in-house
  knowledge-base.</p>


<%- include("partials/footer"); -%>
